#bio {
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-medium);

    p{
        margin-bottom: var(--padding-medium);
        margin-top: var(--padding-medium);
    }

    blockquote{
        background-color: var(--primary-lighter-color);
        padding: var(--padding-medium);
        border-radius: var(--padding-small);
        
        color: var(--secondary-text-color);

        p {
            font-style: italic;
            text-align: center;
        }

        cite {
            font-style: normal;
            font-weight: 100;
            display: block;
            text-align: right;
        }
    }

    aside {
        display: none;
    }

    article header{
        display: flex;
        flex-direction: column;
        align-items: center;

        h4{
            font-size: calc(var(--font-size-xsmall) / 1.2);
            margin-top: var(--padding-small);
            margin-bottom: calc(-1 * var(--padding-medium));
        }

        h4 + p{
            font-size: calc(var(--font-size-xsmall) / 1.3);
            margin-bottom: calc(-1 * var(--padding-medium));
        }
    }
}

@media (min-width: 768px) {
    #bio {
        display: grid;
        grid-template-columns: 4fr 1fr;

        aside {
            display: block;
            margin-left: var(--padding-medium);

            article:nth-child(3), article:nth-child(4) {
                display: none;

            }
        }
    }
}

@media (min-width: 1025px) { 
    #bio {
        grid-template-columns: 2.5fr 1fr;

        aside {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: var(--padding-medium);

            article:nth-child(3), article:nth-child(4) {
                display: block;
            }
        }
        
    }
}